---
layout: default
title: Ingenierong, un problema al dia
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1> People Involved</h1>
  <ul class="portfolio">
    {% for portfolio in site.portfolio %}
  <h2>     
   <li> <a href="{{ site.baseurl }}{{ portfolio.url }}">{{ portfolio.title }}</a></li>
  </h2>
  {% endfor %}
  </ul>

</div>
